<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763589725136-pi2c529s2873dn3uuv8g9852000veosm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763589725136-pi2c529s2873dn3uuv8g9852000veosm</string>
	<key>API_KEY</key>
	<string>AIzaSyDV_-xp0TfiHb-OAeADFUi9mMxpHE88KOk</string>
	<key>GCM_SENDER_ID</key>
	<string>763589725136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modon.Tasky</string>
	<key>PROJECT_ID</key>
	<string>taskylive</string>
	<key>STORAGE_BUCKET</key>
	<string>taskylive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763589725136:ios:407b3d97f76ee413f0c7d5</string>
	<key>DATABASE_URL</key>
	<string>https://taskylive.firebaseio.com</string>
</dict>
</plist>